<% provide(:title, params[:id]) %>
<% provide(:meta_content, "Vereinsinfo zu den Spielerinnen und Spielern auf der aktuell gültigen Deutschen Tennis-Jugendrangliste im Verein #{params[:id]}.") %>
<h1 class="text-2xl font-bold text-left mb-3 mt-3">
  Spieler aus dem Verein <i><%= params[:id] %></i>
</h1>
<p>Hier finden Sie alle Spieler aus diesem Verein, die in der aktuellen Periode auf der Rangliste geführt sind.</p>
<div class="grid grid-cols-12 mt-3 bg-gray-800 text-white font-bold">
  <div class="col-span-3 py-2 px-2">DTB-ID</div>
  <div class="col-span-5 py-2 px-2">Name</div>
  <div class="col-span-2 text-center py-2 px-2">Position</div>
  <div class="col-span-2 text-center py-2 px-2">Punkte</div>
</div>
<% @players.each do |key, players| %>
  <div class="grid grid-cols-12 bg-brand text-white">
    <div class="col-span-12 font-bold py-2 px-2"><%= key %></div>
  </div>
  <% players.each do |item| %>
    <div class="grid grid-cols-12 border-b border-gray-200 even:bg-gray-50">
      <div class="col-span-3 py-1 px-2"><%= link_to item[:dtb_id], player_path(item[:dtb_id]), class: 'text-brand' %></div>
      <div class="col-span-5 py-1 px-2"><%= item[:lastname] %>, <%= item[:firstname] %></div>
      <div class="col-span-2 text-center py-1 px-2"><%= item[:rank] %></div>
      <div class="col-span-2 text-center py-1 px-2"><%= item[:score] %></div>
    </div>
  <% end %>
<% end %>
