<span class="text-xl font-bold">Impressum</span>
<p>Angaben gemäß § 5 TMG</p>
<p><%= ENV["IMPRINT_NAME"] %><br/>
    <%= ENV["IMPRINT_STREET"] %><br/>
    <%= ENV["IMPRINT_ZIPCODE"] %> <%= ENV["IMPRINT_CITY"] %><br/>
</p>
<p><strong>Vertreten durch: </strong><br/>
  <%= ENV["IMPRINT_NAME"] %><br/>
</p>
<p><strong>Kontakt:</strong><br/>
  Telefon: <%= ENV["IMPRINT_PHONE"] %><br>
  E-Mail: <%= ENV["IMPRINT_MAIL"] %><br/>
</p>
