<span class="text-xl font-bold">Impressum</span>
<p>Angaben gemäß § 5 TMG</p>
<p><%= ENV["IMPRINT_NAME"] || CONFIG['imprint_name'] %><br/>
    <%= ENV["IMPRINT_STREET"] || CONFIG['imprint_street'] %><br/>
    <%= ENV["IMPRINT_ZIPCODE"] || CONFIG['imprint_zipcode'] %> <%= ENV["IMPRINT_CITY"] || CONFIG['imprint_city'] %><br/>
</p>
<p><strong>Vertreten durch: </strong><br/>
  <%= ENV["IMPRINT_NAME"] || CONFIG['imprint_name'] %><br/>
</p>
<p><strong>Kontakt:</strong><br/>
  Telefon: <%= ENV["IMPRINT_PHONE"] || CONFIG['imprint_phone'] %><br>
  E-Mail: <%= ENV["IMPRINT_MAIL"] || CONFIG['imprint_mail'] %><br/>
</p>
