<% provide(:meta_content, "Ranglisteninformationen - Der Anlaufpunkt zur Deutschen Tennis-Jugendrangliste") %>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Willkommen bei Ranking-Info</h1>
      <h2 class="subtitle">Der Anlaufpunkt zur Deutschen Tennis-Rangliste</h2>
    </div>
  </div>
</section>
<div class="card">
  <header class="card-header">
    <span class="card-header-title">Ranglisteninformationen</span>
  </header>
  <div class="card-content">
    Hier findest Du eine filterbare Version der Deutschen Aktiven - und Jugendranglisten. Die Daten werden manuell auf
    Basis der offiziellen Listen des Deutschen Tennis-Bundes eingepflegt.<br/>
    Der Vorteil zu den offiziellen Listen? Es ist nicht nur das aktuelle Quartal und die Liste zum 
    Jahresabschluss verfügbar, es sind alle importierten Daten seit dem <%= @start %> enthalten!
    <br/><br/>
    Wie steht ein Spieler insgesamt da? Wie in seinem Geburtsjahrgang? Wie war die Entwicklung in den letzten Quartalen?
    Wo stehe ich in meinem Jahrgang in meinem Verband?<br/>
    Diese Fragen möchte <i>Ranking-Info</i> beantworten.
    <br/><br/>
    Viel Spaß beim Stöbern!
  </div>
  <footer class="card-footer">
    <%= link_to "Spielersuche", players_path, class: 'card-footer-item' %>
    <%= link_to "Ranglisten", listings_path, class: 'card-footer-item' %>
    <%= link_to "Vereinsuche", clubs_path, class: 'card-footer-item' %>
    <%= link_to "Verbandsstatistik", federations_path, class: 'card-footer-item' %>
  </footer>
</div>
