<div class="table-container mb-2">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th class="center is-hidden-mobile">#</th>
        <th>Rang</th>
        <th>Nachname, Vorname</th>
        <th class="center">DTB-ID</th>
        <th class="center is-hidden-mobile">Nationalität</th>
        <th class="is-hidden-mobile">Verein</th>
        <th class="is-hidden-mobile">Verband</th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tbody>
      <% @rankings.each_with_index do |ranking, index| %>
        <tr>
          <td class="center is-hidden-mobile"><%= index + 1 %></td>
          <td><%= ranking.ranking_position %><%= position_indicator(ranking.dtb_id, ranking.ranking_position, @previous_positions) %></td>
          <td><%= ranking.lastname %>, <%= ranking.firstname %></td>
          <td class="center"><%= link_to ranking.dtb_id, player_path(ranking.dtb_id), class: 'has-text-info' %></td>
          <td class="center is-hidden-mobile"><%= image_tag("#{ranking.nationality.downcase}.svg", width: "30") %></td>
          <td class="is-hidden-mobile"><%= link_to ranking.club, club_path(ranking.club), class: 'has-text-info' %></td>
          <td class="is-hidden-mobile"><%= ranking.federation %></td>
          <td><%= ranking.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
