<% provide(:title, "Status") %>
<% provide(:meta_content, "Informationen zu den im System verfügbaren Datenständen") %>
<h1 class="title is-3 has-text-left mb-3 mt-3">
  Status & Datenbestand
</h1>
<div class="tags has-addons">
  <span class="tag is-dark">letztes Update</span>
  <span class="tag is-success"><%= @date_last_updated %></span>
</div>
<h5 class="title is-5 has-text-left mt-3">
  Anzahl Datensätze im System
</h5>
<div class="columns is-mobile has-background-dark has-text-light has-text-weight-bold">
    <div class="column is-4 center">Spielerinnen</div>
    <div class="column is-4 center">Spieler</div>
    <div class="column is-4 center">Einzelrankings</div>
</div>
<div class="columns is-mobile">
  <div class="column is-4 center"><%= @player_female_count %></div>
  <div class="column is-4 center"><%= @player_male_count %></div>
  <div class="column is-4 center"><%= @ranking_count %></div>
</div>

<h5 class="title is-5 text-left mt-3">
  Verfügbare Quartale
</h5>
<div class="subtitle is-6">
  <small> 
    <i>
      * Stichtag 31.12.
      ** Stichtag 31.03.
      *** Stichtag 30.06.
      **** Stichtag 30.09.
    </i>
  </small>
</div>
<div class="columns is-mobile has-background-dark has-text-light has-text-weight-bold mt-3">    
  <div class="column is-4 center">Jahr</div>
  <div class="column is-2 center">Q1*</div>
  <div class="column is-2 center">Q2**</div>
  <div class="column is-2 center">Q3***</div>
  <div class="column is-2 center">Q4****</div>
</div>
<% if @available_quarters.size.positive? %>
  <% @available_quarters.each do |y, q| %>
    <div class="columns is-mobile <%= 'striped' unless y.to_i.even? %>">
      <div class="column is-4 center"><%= y.to_s %></div>
      <div class="column is-2 center"><% if q.include? '01.01.' %><span class="ri-icon-green"><i class="fas fa-check-circle"></i></span><% end %></div>
      <div class="column is-2 center"><% if q.include? '01.04.' %><span class="ri-icon-green"><i class="fas fa-check-circle"></i></span><% end %></div>
      <div class="column is-2 center"><% if q.include? '01.07.' %><span class="ri-icon-green"><i class="fas fa-check-circle"></i></span><% end %></div>
      <div class="column is-2 center"><% if q.include? '01.10.' %><span class="ri-icon-green"><i class="fas fa-check-circle"></i></span><% end %></div>
    </div>
  <% end %>
<% end %>
<div class="subtitle is-6">
  <small> 
    <i>In Quartal 3/2020 wurde wegen der COVID-19-Pandemie keine neue Rangliste veröffentlicht</i>
  </small>
