<% provide(:title, 'Verbandsdaten') %>
<% provide(:meta_content, "Statistik zu den Spielern und Spielerinnen auf der aktuellen Deutschen Tennis-Jugendrangliste nach Altersgruppe und Landesverband.") %>
<h1 class="title is-3 has-text-left mb-3 mt-3">
  Daten zu den Landesverbänden
</h1>
<p>
  Hier finden Sie Daten, wie viele Spielerinnen und Spieler 
  der DTB Landesverbände nach Altersklasse in der aktuellen Periode
  auf der Rangliste geführt sind.
</p>

<div class="table-container mt-3 mb-3">
  <table class="table is-striped is-fullwidth">
    <tr class="has-background-dark has-text-light has-text-weight-bold">
      <td>Verband</td>
      <td colspan="2" class="center">U12</td>
      <td colspan="2" class="center">U14</td>
      <td colspan="2" class="center">U16</td>
      <td colspan="2" class="center">U18</td>
      <td colspan="2" class="center">Aktive</td>
    </tr>
    <tr class="table-info">
      <td></td>
      <td class="center border-left"><i class="fas fa-mars"></i></td>
      <td class="center border-right"><i class="fas fa-venus"></i></td>
      <td class="center"><i class="fas fa-mars"></i></td>
      <td class="center border-right"><i class="fas fa-venus"></i></td>
      <td class="center"><i class="fas fa-mars"></i></td>
      <td class="center border-right"><i class="fas fa-venus"></i></td>
      <td class="center"><i class="fas fa-mars"></i></td>
      <td class="center border-right"><i class="fas fa-venus"></i></td>
      <td class="center"><i class="fas fa-mars"></i></td>
      <td class="center border-right"><i class="fas fa-venus"></i></td>
    </tr>
    <% @federations.each do |key, fed| %>
      <tr class=border-bottom>
        <td class="border-left"><%= federation_long_name(key) %></td>
        <td class="center"><%= fed['U12m'] || 0 %></td>
        <td class="center border-right"><%= fed['U12w'] || 0 %></td>
        <td class="center"><%= fed['U14m'] || 0 %></td>
        <td class="center border-right"><%= fed['U14w'] || 0 %></td>
        <td class="center"><%= fed['U16m'] || 0 %></td>
        <td class="center border-right"><%= fed['U16w'] || 0 %></td>
        <td class="center"><%= fed['U18m'] || 0 %></td>
        <td class="center border-right"><%= fed['U18w'] || 0 %></td>
        <td class="center"><%= fed['m00'] || 0 %></td>
        <td class="center border-right"><%= fed['w00'] || 0 %></td>
      </tr>
    <% end %>
  </table>
</div>
