<% provide(:title, "Status") %>
<% provide(:meta_content, "Informationen zu den im System verfügbaren Datenständen") %>
<h1 class="text-2xl font-bold text-left mb-3 mt-3">
  Status & Datenbestand
</h1>
<div class="inline-flex rounded overflow-hidden text-sm mb-3">
  <span class="bg-gray-800 text-white px-2 py-1">letztes Update</span>
  <span class="bg-green-500 text-white px-2 py-1"><%= @date_last_updated %></span>
</div>
<h5 class="text-lg font-semibold text-left mt-3">
  Anzahl Datensätze im System
</h5>
<div class="grid grid-cols-3 bg-gray-800 text-white font-bold">
  <div class="text-center py-2 px-1">Spielerinnen</div>
  <div class="text-center py-2 px-1">Spieler</div>
  <div class="text-center py-2 px-1">Einzelrankings</div>
</div>
<div class="grid grid-cols-3">
  <div class="text-center py-2 px-1"><%= @player_female_count %></div>
  <div class="text-center py-2 px-1"><%= @player_male_count %></div>
  <div class="text-center py-2 px-1"><%= @ranking_count %></div>
</div>

<h5 class="text-lg font-semibold text-left mt-3">
  Verfügbare Quartale
</h5>
<div class="text-sm italic text-gray-600 mb-3">
  * Stichtag 31.12.
  ** Stichtag 31.03.
  *** Stichtag 30.06.
  **** Stichtag 30.09.
</div>
<div class="grid grid-cols-12 bg-gray-800 text-white font-bold mt-3">
  <div class="col-span-4 text-center py-2 px-1">Jahr</div>
  <div class="col-span-2 text-center py-2 px-1">Q1*</div>
  <div class="col-span-2 text-center py-2 px-1">Q2**</div>
  <div class="col-span-2 text-center py-2 px-1">Q3***</div>
  <div class="col-span-2 text-center py-2 px-1">Q4****</div>
</div>
<% if @available_quarters.size.positive? %>
  <% @available_quarters.each do |y, q| %>
    <div class="grid grid-cols-12 <%= 'striped' unless y.to_i.even? %>">
      <div class="col-span-4 text-center py-2 px-1"><%= y.to_s %></div>
      <div class="col-span-2 text-center py-2 px-1"><% if q.include? '01.01.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
      <div class="col-span-2 text-center py-2 px-1"><% if q.include? '01.04.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
      <div class="col-span-2 text-center py-2 px-1"><% if q.include? '01.07.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
      <div class="col-span-2 text-center py-2 px-1"><% if q.include? '01.10.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
    </div>
  <% end %>
<% end %>
<div class="text-sm italic text-gray-600 mt-3">
  In Quartal 3/2020 wurde wegen der COVID-19-Pandemie keine neue Rangliste veröffentlicht
</div>
