<span class="title is-6"><br/>Aktuelle Position</span>
<table class="table is-striped is-fullwidth mt-1">
  <tr class="has-background-dark has-text-light has-text-weight-bold">
    <td class="center">Altersklasse</td>
    <td>Rang</td>
    <td></td>
    <td>Punkte</td>
    <td></td>
  </tr>
  <% unless @current_rankings.size.positive? %>
    <tr>
      <td colspan="5" class="center">Für das aktuelle Quartal existiert kein Eintrag auf der Rangliste.</td>
    </tr>
  <% else %>
    <% @current_rankings.each_with_index do |cr, index| %>
      <tr <%= "class=has-background-info-light" if index.eql?(0) %>>
        <td class="center"><%= %w[m00 w00].include?(cr['age_group']) ? 'Aktive' : cr['age_group'] %></td>
        <td><%= cr['position'] %></td>
        <td>
          <% if !cr['position_change'].nil? && cr['position_change'][0].eql?('+') %>
            <span class="ri-icon-green"><i class="fas fa-caret-up"></i></span>
            <%= cr['position_change'][1, cr['position_change'].size - 1] %>
          <% elsif !cr['position_change'].nil? && cr['position_change'][0].eql?('-') %>
            <span class="ri-icon-red"><i class="fas fa-caret-down"></i></span>
            <%= cr['position_change'][1, cr['position_change'].size - 1] %>
          <% else %>
            <span><i class="fas fa-minus"></i></span>
          <% end%> 
        </td>
        <td><%= cr['score'] if index.eql?(0) %></td>
        <td>
            <% if index.eql?(0) && !cr['score_change'].nil? && cr['score_change'][0].eql?('+') %>
              <span class="ri-icon-green"><i class="fas fa-caret-up"></i></span>
              <%= cr['score_change'][1, cr['score_change'].size - 1] %>
            <% elsif index.eql?(0) && !cr['score_change'].nil? && cr['score_change'][0].eql?('-') %>
              <span class="ri-icon-red"><i class="fas fa-caret-down"></i></span>
              <%= cr['score_change'][1, cr['score_change'].size - 1] %>
            <% elsif index.eql?(0) && !cr['score_change'].nil? %>
              <span><i class="fas fa-minus"></i></span>
            <% end%> 
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
