<div class="table-container mb-3">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>DTB-ID</th>
        <th>Nachname, Vorname</th>
        <th class="center is-hidden-mobile">Nationalität</th>
        <th>Verein</th>
        <th class="center is-hidden-mobile">Verband</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= link_to player.dtb_id, player_path(player.dtb_id), class: 'has-text-info' %></td>
          <td><%= player.lastname %>, <%= player.firstname %></td>
          <td class="center is-hidden-mobile"><%= image_tag("#{player.nationality.downcase}.svg", width: "30") %></td>
          <td><%= link_to player.club, club_path(player.club), class: 'has-text-info' %></td>
          <td class="center is-hidden-mobile"><%= player.federation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
