<p class="text-sm font-semibold mt-2 mb-1">Verfügbare Daten</p>
<div class="mt-3">
  <div class="grid grid-cols-12 bg-gray-800 text-white font-bold">
    <div class="col-span-4 py-2 px-2">Jahr</div>
    <div class="col-span-2 py-2 px-2">Q1</div>
    <div class="col-span-2 py-2 px-2">Q2</div>
    <div class="col-span-2 py-2 px-2">Q3</div>
    <div class="col-span-2 py-2 px-2">Q4</div>
  </div>
  <% @available_quarters.each do |y, q| %>
    <div class="grid grid-cols-12 border-b border-gray-200">
      <div class="col-span-4 py-1 px-2"><%= y.to_s %></div>
      <div class="col-span-2 py-1 px-2"><% if q.include? '01.01.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
      <div class="col-span-2 py-1 px-2"><% if q.include? '01.04.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
      <div class="col-span-2 py-1 px-2"><% if q.include? '01.07.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
      <div class="col-span-2 py-1 px-2"><% if q.include? '01.10.' %><span class="ri-icon-green"><%= svg_icon(:circle_check) %></span><% end %></div>
    </div>
  <% end %>
</div>
