<% provide(:title, "Spielerprofil #{@player.firstname} #{@player.lastname}") %>
<% content_for :head do %>
  <%= javascript_include_tag 'charts', defer: true, 'data-turbo-track': 'reload' %>
<% end %>
<% provide(:meta_content, "Spielerprofil mit Ranglistenverlauf für #{@player.firstname} #{@player.lastname}") %>
<h1 class="text-2xl font-bold text-left mb-3 mt-3">
  Spielerprofil
</h1>
<div class="grid grid-cols-2 mb-3">
  <div>
    <%= image_tag("#{@player.nationality.downcase}.svg", width: "35", alt: @player.nationality) %>
    <span class="text-xl font-bold"><%= @player.firstname %> <%= @player.lastname %></span>
    <span class="text-sm text-gray-600">DTB-ID <%= @player.dtb_id %></span>
  </div>
  <div class="text-right">
    <%= link_to @player.club, club_path(@player.club), class: 'text-brand font-semibold' %> / <span class="italic"><%= @player.federation %></span>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>
    <%= render 'player_current_ranking' %>
  </div>
  <div>
    <%= render 'player_chart_current' %>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
  <div>
    <%= render 'player_chart_current_score' %>
  </div>
  <div>
    <%= render 'player_clubs' %>
    <%= render 'player_available_data' %>
  </div>
</div>
<div class="mt-4">
  <%= render 'player_chart_complete' %>
  <%= render 'player_chart_complete_score' %>
</div>
<div class="mb-3 mt-4">
  <%= render 'player_complete_rankings_youth' %>
</div>
