<header>
  <nav class="navbar is-dark is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag("ri-logo.png") %>
    <% end %>
    
    <button type="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div id="navbarBasicMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <%= link_to "Spieler", players_path, class: 'navbar-item' %>
      <%= link_to "Listen", listings_path, class: 'navbar-item' %>
      <%= link_to "Vereine", clubs_path, class: 'navbar-item' %>
      <%= link_to "Verbände", federations_path, class: 'navbar-item' %>
      <%= link_to "Status", status_path, class: 'navbar-item' %>
      <%= link_to "Hilfe", help_path, class: 'navbar-item' %>
      <%= link_to "Datenschutz", privacy_path, class: 'navbar-item' %>
      <%= link_to "Über", about_path, class: 'navbar-item' %>
      <% if logged_in? %>
        <%= link_to "Import", import_path, class: 'navbar-item' %>
        <%= link_to "Log out", logout_path, method: :delete, class: 'navbar-item' %>
      <% end %>
    </div>
  </div>
</nav>
</header>
