<!DOCTYPE html>
<html lang="de">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= yield(:meta_content) %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/favicon' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', defer: true %>
    <link rel="manifest" href="/manifest.json">
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container is-fluid">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> mt-2"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
